<section class="about-section" id="about">
  <div class="container">
    <h2 class="about-title">About us</h2>
    <div class="about-block">
      <div class="am-summary">
        <p>
          <span id="welcome">Welcome</span> to
          <span id="website">INFINITY TECHNOLOGY</span>, where innovation meets
          impact! We are a dynamic force in the realm of Information Technology,
          specializing in digital marketing, web/Application Development, Custom
          software solutions, level-1, Some freelancing services, AI chatbot
          development & automation along with free consulting services that
          propel <span id="business">your business</span> into the future.
        </p>
        <div class="logo-block">
          <a
            class="nav-logo"
            href="./index.html"
            aria-label="Logo Infinity Technology"
          >
            <img
              class="nav-logo-icon"
              src="../img/infinity_updates_logo.jpg"
              alt="Infinity Technology Logo"
              width="100"
              height="30"
            />
          </a>
          <a class="nav-link-infinity" href="#home">Be infinity</a>
        </div>
        <p>
          Let's shape the future of technology together! Infinity- Where
          innovation goes beyond limits. #ASPIRETOINSPIRE Helping Business Easy
          To Grow!
        </p>
      </div>
      <div class="am-headline">
        <h3 class="why-choose-title">
          Why Choose Infinity Technology? Here's 5
          <span id="gold">Golden</span> reasons for that✨
        </h3>
        <ul class="why-choose-list">
          <li class="why-choose-item">
            <span class="reason-number">👉🏻 1st</span>
            <strong>Innovation at the core:</strong>
            The first reason is obvious; we are Infinity just like our name. At
            Infinity, we are well-equipped to make any imagination into reality
            anytime.
          </li>
          <li class="why-choose-item">
            <span class="reason-number">👉🏻 2nd 🌏</span>
            <strong>Global Reach:</strong>
            We serve clients across all continents, delivering excellence
            wherever you are.
          </li>
          <li class="why-choose-item">
            <span class="reason-number">👉🏻 3rd</span>
            <strong>Client-Centric Approach:</strong>
            Your success is our success. We prioritize client satisfaction,
            fostering long-term partnerships built on trust and collaboration.
          </li>
          <li class="why-choose-item">
            <span class="reason-number">👉🏻 4th</span>
            <strong>Affordable Pricing:</strong>
            Quality works at prices that won’t break the bank 💱
          </li>
          <li class="why-choose-item">
            <span class="reason-number">👉🏻 5th</span>
            <strong>24/7 Availability + Maintenance:</strong>
            We’re always here for you, ready to assist anytime, anywhere. ⏰
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
