<section class="home" id="home">
  <div class="home-content">
    <h1 class="home-title">
      We Help Grow <br />
      Your <span id="typed" class="dynamic-text"></span>
    </h1>

    <p class="home-description">
      Transform your <span class="highlight">Idea</span> into a thriving
      <span class="highlight">Business</span> and impactful
      <span class="highlight">Brand</span>.
    </p>
    <button class="home-btn">
      <a href="#contacts" style="color: inherit; text-decoration: none"
        >Get Started</a
      >
    </button>
  </div>
  <div class="home-images">
    <img src="../img/home-foto-1.jpg" alt="Person 1" class="profile-img" />
    <img src="../img/home-foto-2.jpg" alt="Person 2" class="profile-img" />
    <img src="../img/home-foto-3.jpg" alt="Person 3" class="profile-img" />
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
  let options = {
    strings: ['Idea', 'Business', 'Brand'],
    typeSpeed: 60,
    backSpeed: 40,
    backDelay: 1500,
    startDelay: 500,
    loop: true,
  };
  let typed = new Typed('#typed', options);
</script>
