<section class="section section-reviews">
  <div class="container">
    <h2 class="title reviews-title">Reviews</h2>
    <div class="swiper-container">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="bnt-box">
        <button class="btn-prev swiper-button-prev">
          <svg class="icon-swipe-prev" width="24" height="24">
            <use
              class="arrow-revi-prev"
              href="./img/icons.svg#reviews-grey-btn-prev"
            ></use>
          </svg>
        </button>
        <button class="btn-next swiper-button-next">
          <svg class="icon-swipe-next" width="24" height="24">
            <use
              class="arrow-revi-next"
              href="./img/icons.svg#reviews-black-btn-next"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
