<section class="second-section" id="services">
  <div class="container">
    <h2 class="section-title">Our Services</h2>
    <ul class="second-section-list-ul">
      <li class="second-section-list">
        <div class="second-section-icon-container icon-hidden">
          <svg class="second-section-icon" width="64" height="64">
            <use href="./img/icons.svg#antenna"></use>
          </svg>
        </div>
        <h3 class="second-section-title">Consulting</h3>
        <p class="second-section-text">
          Get professional advice for your business and ideas to move forward.
        </p>
      </li>
      <li class="second-section-list">
        <div class="second-section-icon-container icon-hidden">
          <svg class="second-section-icon" width="64" height="64">
            <use href="./img/icons.svg#diagram"></use>
          </svg>
        </div>
        <h3 class="second-section-title">Growth</h3>
        <p class="second-section-text">
          Step-by-step approach to scaling and optimizing your business.
        </p>
      </li>
      <li class="second-section-list">
        <div class="second-section-icon-container icon-hidden">
          <svg class="second-section-icon" width="64" height="64">
            <use href="./img/icons.svg#clock"></use>
          </svg>
        </div>
        <h3 class="second-section-title">Branding</h3>
        <p class="second-section-text">
          Creating a unique brand identity that will resonate with your
          audience.
        </p>
      </li>
      <li class="second-section-list">
        <div class="second-section-icon-container icon-hidden">
          <svg class="second-section-icon" width="64" height="64">
            <use href="./img/icons.svg#astronaut"></use>
          </svg>
        </div>
        <h3 class="second-section-title">Technologies</h3>
        <p class="second-section-text">
          Design practice focused on digital experiences.
        </p>
      </li>
    </ul>
  </div>
</section>
<button id="scrollToTop">↑</button>
