<section class="team-section" id="team">
  <div class="team-container">
    <h2 class="section-title">Our Team</h2>
    <ul class="third-section-list">
      <li class="third-section-team">
        <img
          src="./img/team-desk-1-2x.jpg"
          alt="Photo Mark Guerrero"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Mark Guerrero</h3>
          <p class="third-section-position">Product Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-2-2x.jpg"
          alt="Photo Tom Ford"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Tom Ford</h3>
          <p class="third-section-position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-3-2x.jpg"
          alt="Photo Camila Garcia"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Camila Garcia</h3>
          <p class="third-section-position">Marketing</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-4-2x.jpg"
          alt="Photo Daniel Wilson"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Daniel Wilson</h3>
          <p class="third-section-position">UI Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-3-2x.jpg"
          alt="Photo Ann White"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Ann White</h3>
          <p class="third-section-position">UI Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-3-2x.jpg"
          alt="Photo Yuliia Shylina"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Yuliia Shylina</h3>
          <p class="third-section-position">Frontend</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-1-2x.jpg"
          alt="Photo Oleg Osborn"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Oleg Osborn</h3>
          <p class="third-section-position">Frontend</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-2-2x.jpg"
          alt="Photo Bob Voice"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Bob Voice</h3>
          <p class="third-section-position">Web Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="pagination-dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>
