<section class="team-section" id="team">
  <div class="team-container">
    <h2 class="section-title">Our Team</h2>
    <ul class="third-section-list">
      <li class="third-section-team">
        <img
          src="../img/Abhishek.jpg"
          alt="Photo Abhishek Sharma"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Abhishek Sharma</h3>
          <p class="third-section-position">CEO</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-item-link"
                href="https://www.linkedin.com/in/abhishek-sharma-b1689622b/"
              >
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="../img/Trisha.jpg"
          alt="Photo Trisha Singh"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Trisha Singh</h3>
          <p class="third-section-position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-item-link"
                href="https://www.linkedin.com/in/trisha-singh-8052a7185/"
              >
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="../img/Sejal.jpg"
          alt="Photo Sejal Bhawsar"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Sejal Bhawsar</h3>
          <p class="third-section-position">Marketing</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-item-link"
                href="https://www.linkedin.com/in/sejal-bhawsar-82b2a7219/"
              >
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="../img/Arwa.jpg"
          alt="Photo Arwa Mando"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Arwa Mando</h3>
          <p class="third-section-position">UX/UI Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-item-link"
                href="https://www.linkedin.com/in/arwa-mando-ba90802a8/"
              >
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="../img/Kanika.jpg"
          alt="Photo Ann White"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Kanika Tyagi</h3>
          <p class="third-section-position">HR executive</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-item-link"
                href="https://www.linkedin.com/in/kanika-tyagi-2570aa294/"
              >
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-3-2x.jpg"
          alt="Photo Yuliia Shylina"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Yuliia Shylina</h3>
          <p class="third-section-position">Frontend</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-1-2x.jpg"
          alt="Photo Oleg Osborn"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Oleg Osborn</h3>
          <p class="third-section-position">Frontend</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="third-section-team">
        <img
          src="./img/team-desk-2-2x.jpg"
          alt="Photo Bob Voice"
          width="264"
          height="260"
        />
        <div class="team-container">
          <h3 class="third-section-member">Bob Voice</h3>
          <p class="third-section-position">Web Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="">
                <svg class="social-item-img" width="16" height="16">
                  <use href="./img/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="pagination-dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>
