.header {
  /* padding: 20px 0; */
  background-color: #2e2f42;
  color: antiquewhite;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.nav-link-infinity {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Impact', sans-serif;
  color: #2e2f42;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  animation: slideIn 1s ease-out, glowEffect 2s ease-out infinite alternate;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* Анімація появи */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Анімація ефекту світіння */
@keyframes glowEffect {
  0% {
    text-shadow: 0 0 5px #5f8aff, 0 0 10px #5f8aff, 0 0 15px #ba7bfe;
    color: #ffffff;
  }
  50% {
    text-shadow: 0 0 10px #5f8aff, 0 0 20px #5f8aff, 0 0 30px #ba7bfe;
    color: #ba7bfe;
  }
  100% {
    text-shadow: 0 0 5px #5f8aff, 0 0 10px #5f8aff, 0 0 15px #ba7bfe;
    color: #ffffff;
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}

@media screen and (max-width: 768px) {
  /* Убираем меню навигации и логотип */
  .nav-list,
  .nav-logo {
    display: none;
  }

  /* Настройка бургер-меню */
  .burger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #747bff;
    border-radius: 5px;
    cursor: pointer;
  }

  .burger-menu span {
    display: block;
    width: 70%;
    height: 4px;
    background-color: white;
    margin: 4px auto;
    border-radius: 2px;
  }

  .nav-link-infinity {
    font-size: 40px;
    letter-spacing: 1px;
  }
}
