:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
  --fs-title-mob: 52px;
  --flh-title-mob: 64px;
  --fls-tittle-mob: 1.8px;
  --fs-title-tabl: 108px;
  --flh-title-tabl: 1.15;
  --fls-tittle-mob: 0.02em;

  --black: #292929;
  --accet-green: #ba7bfe;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accent: #bcdfd1;
}

.work-together-section {
  margin-top: 120px;
}

.work-together-title {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Impact', sans-serif;
  color: #2e2f42;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 80px 0;
  position: relative;
  animation: slideIn 1s ease-out, glowEffect 2s ease-out infinite alternate;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes glowEffect {
  0% {
    text-shadow: 0 0 5px #5f8aff, 0 0 10px #5f8aff, 0 0 15px #ba7bfe;
    color: #ffffff;
  }
  50% {
    text-shadow: 0 0 10px #5f8aff, 0 0 20px #5f8aff, 0 0 30px #ba7bfe;
    color: #ba7bfe;
  }
  100% {
    text-shadow: 0 0 5px #5f8aff, 0 0 10px #5f8aff, 0 0 15px #ba7bfe;
    color: #ffffff;
  }
}

.title-work-together-green {
  color: #ba7bfe;
  display: inline-block;
  animation: wave-animation 2s infinite ease-in-out;
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wave-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.work-together-text {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #8c3be2;
}

.work-together-adress {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work-together-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-header-text {
  padding: 12px 0;
  text-align: center;
}

.work-together-container-input {
  position: relative;
  margin-bottom: 32px;
}
.work-together-input {
  padding: 12px 18px 12px 18px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
  background: var(--light-grey);
  width: calc(100% - 24px);
}

.work-together-input-email {
  height: 48px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  border-radius: 8px;
  border: none;
}

.work-together-adress-icon-form {
  position: absolute;
  right: 16px;
  top: 12px;
}

.work-together-input-message {
  resize: none;
  margin-bottom: 4px;
  display: block;

  height: 128px;
  background: var(--light-grey);
  border-radius: 8px;
  border: none;
}

.work-together-error-message {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #e74a3b;
  opacity: 0;
  visibility: hidden;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.work-together-input:focus-within {
  border: none;
  outline: none;
}

.work-together-input::placeholder {
  color: rgba(41, 41, 41, 0.4);
}

.work-together-btn {
  padding: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
  background-color: #ba7bfe;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  margin: 16px auto 32px;
  display: block;
}

.work-together-picture {
  display: none;
}

.work-together-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.work-together-link:hover,
.work-together-link:focus {
  color: var(--accet-green);
}

.work-together-btn:hover,
.work-together-btn:focus {
  background: #8c3be2;
}

/* backdrop */

.work-together-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.work-together-modal {
  z-index: 5;
  position: relative;
  width: 100%;
  max-width: 320px;
  background: var(--white);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 16px;
  padding: 48px 32px;
}

.work-together-modal-btn-closing {
  z-index: 10;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  z-index: 10;
  pointer-events: visible;
  cursor: pointer;
}

.work-together-modal-main {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accet-green);
}

.work-together-modal-second {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .work-together-section {
    padding-top: 0;
  }

  .work-together-container {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  }

  .work-together-container {
    position: relative;
  }

  .work-together-title {
    margin-bottom: 60px;

    line-height: var(--flh-title-tabl);
    letter-spacing: var(--fls-tittle-tabl);
  }

  .work-together-text {
    width: 504px;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
  }

  .work-together-adress {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  .work-together-btn {
    width: 174px;
  }

  .work-together-modal {
    width: 100%;
    max-width: 492px;
    padding: 64px 64px;
  }
}

@media screen and (min-width: 1280px) {
  .work-together-container {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  }
  .work-together-title {
    margin-bottom: 80px;
    width: 507px;
  }

  .work-together-form {
    width: 592px;
  }

  .work-together-adress {
    margin-bottom: 0;
    flex-direction: column;
    gap: 16px;
  }

  .work-together-container-desktop {
    display: flex;
    justify-content: space-between;
  }

  .work-together-container-desktop-text {
    width: 488px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .work-together-title {
    font-size: 32px;
  }

  .work-together-text {
    font-size: 14px;
  }

  .work-together-section {
    margin-top: 80px;
  }
}
